<div class="container">
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <app-logo></app-logo>

                <div class="card">
                    <div class="card-header">
                        <h4>Forgot Password</h4>
                    </div>
                    <p class="tip">Enter email address</p>
                    <div class="card-form">
                        <div class="form-row">
                            <i class="material-icons">email</i>
                            <mat-form-field color="accent">
                                <input type="text" matInput placeholder="Email address" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button mat-raised-button class="btn-primary" (click)="forgotPassword()">Reset Password</button>
                    </div>
                    <div class="extra-buttons">
                        <button mat-button class="btn-primary-link" (click)="goToLogin()"> 
                            <i class="material-icons">lock_outline</i>Login
                        </button>
                        <button mat-button class="btn-primary-link" (click)="goToHelp()"> 
                            <i class="material-icons">help</i>Help
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>